<html lang="de">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="assets/main.css" type="text/css" />
    <title>Gartenprojekt KA</title>
</head>
<body>
<div id="doc">
  <header id="header">
    <h1>{{ page.title }}</h1>
    <nav>
      <ul>
        <li class="active"><a href="#">Home</a></li>
        <!--
        <li><a href="#">Link1</a></li>
        <li><a href="#">Link2</a></li>
        -->
      </ul>
    </nav>
  </header>
  <section id="content">
    <article>
        {{ content }}
    </article>
</section>
<footer>
Impressum:
Thomas Kerpe - Buntestraße 5 - 76131 Karlsruhe
</footer>
</div>
</body>
</html>
